body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

h1 {
    color: #2194e7;
}

label {
    font-size: 1.2em;
}

button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #2194e7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2em;
}

button:hover {
    background-color: #005fa3;
}

button:active {
    background-color: #003b64;
}

input {
    padding: 10px;
    margin: 15px;
    border: 4px solid #2194e7;
    border-radius: 5px;
}